- @title = 'テンプレート'

h2.bold
  = fa_stacked_icon 'file inverse', base: 'square', text: @title

= render partial: 'templates/list', locals: { templates: @templates }
= paginate @templates

coffee:
  $('#nav-templates').addClass('uk-active')
