- @title = '画像'

h2.bold
  = fa_stacked_icon 'photo inverse', base: 'square', text: @title

= render partial: 'admin/pictures/list', locals: { pictures: @pictures }
= paginate @pictures

coffee:
  $('#nav-admin').addClass 'uk-active'
