/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require uikit/components/htmleditor.almost-flat.min
 *= require uikit/components/notify.almost-flat.min
 *= require uikit/components/placeholder.almost-flat.min
 *= require uikit/uikit.almost-flat.min
 *= require codemirror/codemirror
 *= require_self
 */

.exo {
  font-family: 'Exo', sans-serif !important;
  font-weight: 400;
  margin-left: 0.5em;
}
.exo-bold { font-weight: 600; }
.exo-heavy { font-weight: 800; }

.relative { position: relative; }
.revision {
  position: absolute;
  right: 0;
  font-family: monospace;
  color: #999999;
}

.uk-article-divider {
  border: none;
  border-top: 2px solid #999999;
  margin-top: 15px;
  margin-bottom: 50px;
}
.uk-button { width: 100px; }
.uk-button-large {
  width: 150px;
  height: 45px;
}
.uk-placeholder { padding: 8px 6px; }
.uk-description-list-line > dt > a {
  color: #444444;
  text-decoration: none;
}
.uk-description-list-line > dt > a:hover { color: #222222; }
.uk-description-list-line > dd { padding-top: 5px; }
.uk-description-list-line > dt:nth-child(n+2) {
  margin-top: 15px;
  padding-top: 15px;
}

#document_markdown > h2,h3,h4 { font-weight: bold; }
#document_markdown > h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid #444444;
}
