/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require uikit/components/datepicker.almost-flat.min
 *= require uikit/components/form-advanced.almost-flat.min
 *= require uikit/components/form-file.almost-flat.min
 *= require uikit/components/htmleditor.almost-flat.min
 *= require uikit/components/notify.almost-flat.min
 *= require uikit/components/placeholder.almost-flat.min
 *= require uikit/components/tooltip.almost-flat.min
 *= require uikit/uikit.almost-flat.min
 *= require codemirror/codemirror
 *= require highlight/tomorrow
 *= require github-markdown-css/github-markdown
 *= require_self
 */

mark {
  color: #e28327;
  background: transparent;
  font-weight: bold;
  padding: 0 5px;
}

@font-face {
  font-family: 'LogoTypeGothic';
  src: font-url('logo_type_gothic.eot');
  src: font-url('logo_type_gothic.eot?#iefix') format('embedded-opentype'),
       font-url('logo_type_gothic.woff') format('woff'),
       font-url('logo_type_gothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.brand {
  font-family: 'LogoTypeGothic';
}
.bold {
  font-weight: bold;
}
.monospace {
  font-family: monospace !important;
}

.relative {
  position: relative;
}
.absolute-top {
  position: absolute;
  top: 0;
}
.absolute-right {
  position: absolute;
  right: 0;
}
.revision {
  font-family: monospace;
  color: #999;
}

.placeholder {
  color: #999 !important;
}

.uk-modal-dialog {
  min-height: 0;
}
.uk-modal-dialog-large {
  max-height: 500px;
  overflow: auto;
}

.uk-placeholder {
  padding: 8px 6px;
}

.uk-thumbnav {
  .uk-thumbnail {
    width: 100%;

    img {
      height: 120px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.uk-table {
  border: 1px solid #ddd;

  th, td {
    border: 1px solid #ddd;
  }
  thead th {
    border-bottom: 2px solid #ddd;
  }
}

.uk-nav-header {
  text-transform: none;
}
.uk-nav-divider {
  margin: 10px 15px;
}
.uk-form {
  .uk-nav-divider {
    margin: 10px 0;
  }
}

.uk-dropdown {
  width: auto;

  .uk-form-row+.uk-form-row {
    margin-top: 5px;
  }
}
.uk-parent {
  .uk-dropdown {
    width: 175px;
  }
}
.uk-button-dropdown {
  .uk-dropdown {
    width: 250px;
  }
}

.uk-form-help-block {
  ul {
    margin-bottom: 0;
  }
  ul + ul {
    margin-top: 0;
  }
  ul > li {
    font-size: 12px;
  }
}

.uk-panel-box {
  .uk-panel-title {
    font-size: 16px;
    margin-bottom: 0;
  }
}

.uk-form-stacked {
  .uk-form-row+.uk-form-row {
    margin-top: 10px;
  }
  .uk-form-row+.uk-panel-title {
    margin-top: 10px;
  }
  .uk-form-icon {
    width: 100%;

    input[type="text"], input[type="password"] {
      width: 100%;
    }
  }
}

.uk-article {
  dd > p {
    margin-top: 7.5px;
  }
}
.uk-article-title {
  font-size: 24px;
  line-height: normal;
}
.uk-article-divider {
  border: none;
  border-top: 2px solid #999;
  margin-top: 15px;
  margin-bottom: 30px;
}

.uk-button-mini {
  width: 70px;
}
.uk-button-big {
  width: 125px;
  height: 45px;
}
@media (max-width: 480px) {
  .uk-button-group {
    width: 100%;

    .uk-button {
      max-width: 50%;
      overflow: hidden;
    }
  }
}

.uk-description-list-line {
  dt > a {
    color: #444;
    text-decoration: none;
  }
  dt > a:hover {
    color: #222;
  }
  dd {
    padding-top: 5px;
  }
  dt:nth-child(n+2) {
    margin-top: 15px;
    padding-top: 15px;
  }
}

#markdown, .uk-htmleditor-preview {
  h2, h3, h4 {
    font-weight: bold;
  }
  h2 {
    padding-bottom: 5px;
    border-bottom: 1px solid #444;
  }
  a {
    margin: 0 4px;
  }
  :not(pre) > code {
    padding: 2px;
    margin: 0 4px;
    font: 12px / 18px Consolas,monospace,serif;
    color: #444;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 2px;
  }
  table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 15px;

    th, td {
      padding: 8px 8px;
      border: 1px solid #ddd;
    }
    th {
      font-weight: bold;
      text-align: left;
    }
    td {
      vertical-align: top;
    }

    thead th {
      border-bottom: 2px solid #ddd;
    }
  }
}

iframe.uk-panel-box {
  width: 100%;
  height: 700px;
  padding: 0;
}
