- @title = 'ユーザー'

h2.bold
  = fa_stacked_icon 'users inverse', base: 'square', text: @title

= render partial: 'admin/users/list', locals: { users: @users }
= paginate @users

coffee:
  $('#nav-admin').addClass('uk-active')
